* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body, #root {
  height: 100%;
  width: 100%;
  
}
body{
  background-color: #F9F5E8;
  overflow-x: hidden;
}
.footer{
  height: calc(1000px - 600px);
  background-color:    #0057a8;
;
}
.landingpage{
  max-height: auto;
  height: 1000px;
  width: 100%;
}
.navbar-bg{
    background-color: #0057a8;

}
.customBtn{
    display: inline-block;
    padding: 7px 20px;
    background-color: white;
    color:#0057a8;
    border: 1px solid #0057a8;
    border-radius:2rem;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    font-size: 1.1rem;

}
.customBtn:hover{
    background-color: #044e93;
    color: white;
    border: 1px solid white ;
}
.heroBtn{
    display: inline-block;
    padding: 7px 20px;
    background-color: #0057a8;
    color: white;
    border: 1px solid #0057a8;
    border-radius:2rem;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 40%;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
}
.heroBtn:hover{
    background-color: white;
    color: #0057a8;
    border: 1px solid #0057a8 ;
}
.list .list-items{
    color: white ;      
  transition: color 0.3s;
  font-size: 1.1rem;
}
.list .list-items:hover{
    color: #064180;
}

.newsletter-input{
  width: 80%;
  margin: auto;
  background-color: #fff;
  
  border-radius: 7rem;
}
.newsletter-input input{
  border: none;
  width: 60%;
  padding: 0.8rem;
  border-radius: 8rem;
  outline: none;
}
.subscribBtn{
  display: inline-block;
    padding: 10px 20px;
    background-color: #3891f0;
    color: white;
    border: 1px solid #3891f0;
    border-radius:2rem;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 40%;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
}
.subscribBtn:hover{
     background-color: white;
    color: #3891f0;
    border: 1px solid #3891f0 ;
}
.footer-links{
  list-style: none;
  text-align: center;
}
.footer-links li:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease;
}
.icons{
  list-style-type: none;
}
.icons li{
  transition: all 0.3s ease;
}
.icons li:hover{
  transform: scale(1.2);
}

.dashboard-body{
  background-color: #e8e8e8;
}

.role-btn{
  border: none;
  background-color: rgb(209, 209, 209);
  color: rgb(59, 57, 57);
  padding: 10px 20px; 
  border-radius: 0.5rem;
}
.forminput{
  border: 1px solid rgba(128, 128, 128, 0.664);
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
forminput:focus{
  outline: none;
}
.googlebtn{
  width: 80%;

}
.googlebtn:hover{
  background-color: rgba(157, 156, 156, 0.758);
}
.loginbtn{
  display: inline-block;
    padding: 2px 5px;
    background-color: #0057a8;
    color: white;
    border: 1px solid #0057a8;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 90%;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
}
.loginbtn:hover{
    background-color: white;
    color: #0057a8;
    border: 1px solid #0057a8 ;
}
.box{
  background-color: white;
  height: 150px;
  padding: 2rem;
  text-align: center;
}
.dashbtn{
   padding: 2px 5px;
    background-color: #0057a8;
    color: white;
    border: 1px solid #0057a8;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 90%;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.dashbtn:hover{
    background-color: white;
    color: #0057a8;
    border: 1px solid #0057a8 ;
}
.complaintbtn{
  padding: 2px 5px;
    background-color: #0057a8;
    color: white;
    border: 1px solid #0057a8;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 40%;
    word-spacing: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.complaintbtn:hover{
   background-color: white;
    color: #0057a8;
    border: 1px solid #0057a8 ;
}
.complaintbtn{
  padding: 2px 5px;
    background-color: #0057a8;
    color: white;
    border: 1px solid #0057a8;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 40%;
    word-spacing: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}